* {
    --container: 900px;

    --gray-bg: #F1F1F1;
    --gray-text: #25252560;
    --light-gray-text: #B4B7BA;
    --dark-gray-bg: #D9D9D9;

    --blue-bg: #007AFF;
    --light-blue-bg: #E6F2FF;

    --black: #1E1E1E;
    --white: #fff;
}

@media screen and (max-width: 900px) {
    * {
        --container: 600px;
    }
}

@media screen and (max-width: 500px) {
    * {
        --container: 90%;
    }
}