.header {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.header__nav {
    display: flex;
    gap: 8px;
}

.header__nav-mobile {
    display: none;
}

.header__item {
    padding: 6px 12px;
    border-radius: 16px;
    font-size: small;
    height: fit-content;
}

.header__item--blue {
    background-color: var(--blue-bg);
    color: var(--white);
}

.header__item--black {
    border: 1px solid var(--black);
}

.header__logo {
    padding: 4px;
}

.header__logo-img {
    width: 18px;
}

@media screen and (max-width: 500px) {
    .header__nav {
        display: none;
    }

    .header__nav-mobile {
        display: block;
        padding: 6px;
    }

    .header__burger {
        width: 18px;
        cursor: pointer;
    }

    .header__logo {
        padding: 6px;
    }

    .header {
        margin-top: 12px;
    }
}